/**
 * Icons
 */
.icon {
    > svg {
        display: inline-block;
        width: 64px;
        height: 64px;
        vertical-align: middle;

        path {
            fill: $color-secondary;
        }

	svg:hover path {
	    fill: $text-link-hover;
	}
    }
}
