/**
 * Site header
 */
.wrapper .container {
    max-width: 80rem;
}

.site-header {
    padding-top: 1.5em;
    text-align: center;
}

.navbar {
    display: block;
}

.nav-item {
    display: inline-block;
    padding: 1rem;
}

/**
 * Batch
 */
.batch-nav, .post-nav {
    text-align: center;
    padding: 1rem;
}

.batch-title, .page-title, .post-title {
    display: block;
    text-transform: lowercase;
}

.batch-panel {
    padding: 1rem;
    box-sizing: border-box;
    border: 1px solid $color-initial;

    &:hover {
        border: 1px solid $grey-color-light;
    }

    .batch-title {
	line-height: 1;
    }
}

/**
 * Common
 */
.post-list, .navbar, .batch-panel {
    a {
	color: $color-secondary;
	display: block;
    }

    a:hover, li:hover .dates {
	text-decoration: none;
	color: $text-link-hover;
    }
}

/**
 * Post
 */
.post-list {
    list-style: none;
}

.post-list .dates {
    float: right;
    color: $text-meta;
}

.post-list li {
    list-style-type: none;
}

.post-list li+li {
    padding-top: 2rem;
    border-top: 1px solid $grey-color-light;
}

.post-list h4 {
    margin-bottom: 0rem;
}

.post-list .post-description {
    color: $text-meta;
}

/**
 * override column size for mobile
 */
@media (max-width: 40.0rem) {
    .row .column.column-33, .row .column.column-34 {
        flex: 0 0 100%;
        max-width: 100%;
    }
}

/**
 * Site footer
 */
.site-footer {
    border-top: 1px solid $grey-color-light;
    margin: 2rem 0;
    padding: 2rem 0;
}

.social-media-list {
    list-style: none;
}
