---
layout: default
---
<div class="batch">
  <header class="batch-header">
    <h1 class="batch-title">{{ page.title }}</h1>
  </header>

  <article class="batch-content">
    {% if page.main_photo %}
      {% include unsplash.html %}
    {% endif %}
    {{ content }}
  </article>

  <div class="batch-nav">
    {% if page.next.url %}
      <a class="nav-item" href="{{ page.next.url | prepend: site.baseurl }}">&laquo; neste</a>
    {% endif %}
    {% if page.previous.url %}
      <a class="nav-item" href="{{ page.previous.url | prepend: site.baseurl }}">forrige &raquo;</a>
    {% endif %}
  </div>
</div>
